.task-modal {
    position: fixed;
    margin-top: 100px;
    font-family: 'Work Sans', sans-serif;   
    width: 700px;
    height: calc(100vh - 100px);
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1000;
    justify-self: center;
    align-self: end;
    margin-bottom: 50px;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-gap: 10px;
    background:#d3d3d3;
}

.task-modal .heading {
    display: grid;
    grid-template-columns:  1fr 25px;
}


.task-modal .close-icon {
    cursor: pointer;
    font-size: 25px;
    align-items: center;
    justify-items: center;    
    color: #A3A3A3;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.task-modal .heading .title-wrapper {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 50px 1fr;
    grid-gap: 5px;
}

.task-modal .heading img {
    align-self: start;
    margin-top: 5px;
}

.task-modal .heading .title-area{
    border-radius: 2px;
    justify-self: start;
    resize: none;
    width: 70%;
    padding-top: 5px;
    padding-left: 5px;
}

.task-modal .content-wrapper {
    display: grid;
    grid-template-rows: 300px 40px;
    grid-gap: 40px;
}


.task-modal .content-wrapper .content {
    display: grid;
    grid-template-columns: 1fr 30%;
    grid-gap: 10px;
}

.task-modal .content-wrapper .content .main {
    display: grid;
    grid-template-rows: 40% 1fr;
    grid-gap: 20px;
}

.task-modal .content-wrapper .content .main .description{
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-gap: 5px;
    align-items: start;
}

.task-modal .content-wrapper .content .main .description i{
    margin-top: 5px;
    justify-self: center;
    align-self: start;
}

.task-modal .content-wrapper .content .main .description textarea{
    resize: none;
    padding-top: 5px;
    padding-left: 5px;
}

.task-modal .content-wrapper .content .main .description .textarea-wrapper{
    display: grid;
    grid-template-rows: 10% 70px 10%;
    grid-gap: 5px;

}

.task-modal .content-wrapper .content .main .description .textarea-wrapper .save-btn {
    justify-self: end;
    font-size: 15px;
    width:60px;
    height:20px;
    background: white;
    opacity: 0.8;
}   

.task-modal .content-wrapper .content .main .activity{
    display: grid;
    grid-template-rows: 30px 1fr;
    grid-gap: 5px;
}

.task-modal .content-wrapper .content .main .activity .heading{
    display: grid;
    grid-template-columns: 50px 1fr 100px;
    grid-gap: 5px;
}


.task-modal .content-wrapper .content .main .activity i{
    justify-self: center;
    align-self: start;
    margin-top: 5px;
}

.task-modal .content-wrapper .content .main .activity .heading .hide-details{
    justify-self: end;
    font-size: 13px;
    width:100px;
    height:20px;
    background: white;
    opacity: 0.8;
}

.task-modal .content-wrapper .content .main .activity .comments-wrapper{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px 1fr;
}

.task-modal .content-wrapper .content .main .activity .comments-wrapper .heading{
    display: grid;
    justify-items: center;
    grid-template-columns: 50px 1fr;
    grid-gap: 5px;
}

.task-modal .content-wrapper .content .main .activity .comments-wrapper .heading .comment-area {
    height: 25px;
    resize: none;
    width: 100%;
    border-radius: 5px;
    align-self: center;
    padding-left: 5px;
    padding-top: 5px;
}


.task-modal .content-wrapper .content .main .activity .comments-wrapper .heading .account-btn{
    align-self: start;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    align-self: center;
    display: grid;
    justify-content: center;
    align-content: center;
    /* box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 40px 0 rgba(0, 0, 0, 0.1); */
    background: white;
}

 .task-modal .content-wrapper .content .options {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-gap: 25px;
    margin-right: 10px;
}

.task-modal .content-wrapper .content .options .add-options {
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-gap: 0px;
}

.task-modal .content-wrapper .content .options .add-options label {
    font-size: 12px;
    align-self: center;
    justify-self: start;
}

.task-modal .content-wrapper .content .options .add-options .btn-wrapper { 
    font-family: 'Work Sans', sans-serif;   
    font-size: 15px;
    border-radius: 2px;
    height: 25px;
    width: 100%;
    background: white;
    display: grid;
    align-content: center;
    justify-content: center;
}   


.task-modal .content-wrapper .content .options .actions {
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-gap: 0px;
}

.task-modal .content-wrapper .content .options .actions label {
    font-size: 12px;
    justify-self: start;
}

.task-modal .content-wrapper .content .options .actions .btn-wrapper { 
    font-family: 'Work Sans', sans-serif;   
    font-size: 15px;
    border-radius: 2px;
    height: 25px;
    width: 100%;
    background: white;
    display: grid;
    align-content: center;
    justify-content: center;
}   


.task-modal .content-wrapper .save-update-btn {
    justify-self: center;
    width: 175px;
    height: 30px;
    font-size: 13px;
    font-family: 'Work Sans', sans-serif; 
    border-radius: 2px;
    display: grid;
    justify-content: center;
    align-content: center;
    background: white;
}