.task-brief {
    cursor: pointer;
    background: white;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    min-width: 245px;
    max-width:245px;
    margin-top: 10px;
    max-height: 80px;
    min-height: 25px;
    height: 25px;
    overflow-y: auto;
    resize: none;
    border-radius: 5px;
    color: black;
    font-weight: 500;
    font-size: 13px;
    font-family: 'Work Sans', sans-serif;
    word-break: break-all;
    hyphens: manual;
}

